<section class="box" style="line-height:150%;">

<section class="adriano">

<img src="{{ about.featuredImage }}" alt="Adriano Figueira" class="module">

</section>

<section class="about" >

<br />
<h2> {{ about.title }} </h2>
<br />

<p>{{ about.aboutme | markdownify | safe }}</p>
<br />
<p>Sincerely yours,</p>

<p class="signature">Adriano Figueira</p>
</section>
</section>

<!-- CSS =================== -->    
{% set css %}
{% include "styles/about.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style>  

