<article role=”article” class="banner">

<div class='at-container'>
    <h1 style="margin-top: -4rem;" class='at-item'>Discover Northern Portugal with us</h1>
   </div>

    <video controls autoplay loop muted class="banner__video" poster="/images/video-thumb.jpg">
    <source src="video/video.mp4" type="video/mp4">
    </video>

</article>   

<!-- CSS =================== -->    
{% set css %}
{% include "styles/banner.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style>   