<section id="city-tours">

<h3>City Tours</h3>

<div class="grid-container-cards">

{%- if citytours.citytours -%}

    {%- for item in citytours.citytours -%}

        <section class="card-background module">

        <div class="grid-element-cards"><a href="{{ item.url }}">

            <img src="{{ item.featuredImage }}" alt="{{ featuredImage }}"></img>
            
            <h2>{{ item.title }}</h2>  

            <p class="description-cards">Porto Locals<p>

            <p class="time-cards"><span class="iconify" data-icon="fa-regular:clock" data-inline="false"></span> {{ item.time }}<p>

            <button class="btn-card"><span style="color: #fefefe;">Book Now</span></button>

            <p class="price-cards">Price from <br>{{ item.price }}<p>

        </a></div>

        </section>

    {%- endfor -%}

{%- endif -%}

</section>

