<section class="container">
    <p>
    <h2 id="contact">Contact</h2>
    </p>

    <p class="text-contact">Feel free to contact me via email or directly on <a style="font-weight: 500; color: #0067ff;" href="{{ contact.contactme }}" rel="noreferrer noopener" target="_blank">WhatsApp.</a></p>

        <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
        <p>
        <label><input type="text" name="name" placeholder="Your name" /></label>
        </p>
        <p>
        <label><input type="text" name="email" placeholder="Your email" /></label>
        </p>
        <p>
        <label><textarea name="message" placeholder="Your message"></textarea></label>
        </p>
        <div data-netlify-recaptcha="true"></div>
        <br>
        <input id="submit" type="submit" value="Submit">
        </form>
    <br>
</section>


{# CSS ================ #}
{% set css %}
{% include "styles/contact.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style> 