<div class="navContainer-mobile">
    <section class="fixedNav-mobile">
        <nav class="navbar-mobile">
            <ul class="navMenu-mobile">
            
                <li>
                  <a href="#about">About</a>                   
                </li>

                <li>
                  <a href="#contact">contact</a>                       
                </li>
                <li>                
                    <div class="dropdown-mobile">
                    <button class="dropbtn"><a style="color: #fefefe;" id="show-button">Book Now</a></button>
                        <div class="dropdown-content-mobile" id="hide-button">
                            <a href="#winetaste">Wine Taste</a>
                            <a href="#hiking">Hiking</a>
                            <a href="#winesafaris">Wine Safaris</a>
                            <a href="#customize">City Tours</a>
                        </div>
                    </div>
                </li>                
            </ul>
        </nav>
    </section>
</div>

{# Style Footer ================ #}
{% set css %}
{% include "styles/footernav.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style>  

{# JS closeonclick ================ #}
{% set js %}
  {% include "js/closeonclick.js" %}
{% endset %}

<script>
  {{ js | jsmin | safe }}
</script> 

