<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% seo "" %}    
    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>  
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c92764e8df.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {% set css %}
    {% include "styles/globalStyle.css" %}
    {% endset %}
  
    <style>
        {{css | cssmin | safe}}
    </style>      

</head>