<section id="hiking" >

<h3>Hiking/trekking</h3>

<div class="grid-container-cards">

{%- if hiking.hike -%}

    {%- for hikes in hiking.hike -%}

        <section class="card-background module">

        <div class="grid-element-cards"><a href="{{ hikes.url }}">

            <img src="{{ hikes.featuredImage }}" alt="{{ featuredImage }}"></img>
            
            <h2>{{ hikes.title }}</h2>  

            <p class="description-cards">Porto Locals<p>

            <p class="time-cards"><span class="iconify" data-icon="fa-regular:clock" data-inline="false"></span> {{ hikes.time }}<p>

            <button class="btn-card"><span style="color: #fefefe;">Book Now</span></button>

            <p class="price-cards">Price from <br>{{ hikes.price }}<p>

        </a></div>

        </section>

    {%- endfor -%}

{%- endif -%}

</section>



