<div class="navContainer">

<section class="fixedNav">

    <nav class="navbar">
    <a href="#">
    <img loading="eager" src="/images/portolocals.svg" alt="Porto Locals" id="navbarLogo"/>
    </a>
    <div class="menuToggle" id="mobileMenu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    </div>     

        <ul class="navMenu" id="navLinks">
        
            <li class="hide-mobile">
            <a href="#about">About</a>
            </li>

            <li class="hide-mobile">
            <a href="#contact">contact</a>
            </li>
    
            <li>
            <div class="dropdown">
            <button class="dropbtn"><a style="color: #fefefe;" href="#experiences">Book Now</a></button>
            <div class="dropdown-content" id="navlinksregister">
              <a href="#winetaste">Wine Taste</a>
              <a href="#hiking">Hiking</a>
              <a href="#winesafaris">Wine Safaris</a>
              <a href="#city-tours">City Tours</a>
            </div>
            </div>
            </li>   

            <li class="darkmode">
            <button class="[ toggle-button ] [ js-mode-toggle ]" id="light-mode-off" aria-label="dark mode" alt="Icons made by https://www.flaticon.com/authors/freepik">
            <span class="toggle-button__icon" aria-hidden="true"></span>
            </button>
            </li>

        </ul>
    </nav>

</section>
</div>  
