<section class="social" >

    <p><h2 style="text-align: center; margin-top: 2rem; margin-bottom: 3rem;">Find us on social media</h2></p>

    <a href="{{socialmedia.facebook}}" rel="noreferrer noopener" target="_blank" class="module fa fa-facebook fa-3x" style="color:#0067ff"></a>
    
    <a href="{{socialmedia.youtube}}" rel="noreferrer noopener" target="_blank" class="module fa fa-youtube fa-3x"
    style="color:#0067ff"></a>

    <a href="{{socialmedia.instagram}}" rel="noreferrer noopener" target="_blank" class="module fa fa-instagram fa-3x" style="color:#0067ff"></a>

</section>

{# CSS ================ #}
{% set css %}
{% include "styles/social.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style> 

