<section class="team">

    <section><h1>Our team</h1></section>

    <div class="team-1 team-fit">

        {%- if team.profile -%}

            {%- for item in team.profile -%}

                <div class="grid-element-team module" >                
                    <img src="{{ item.featuredImage }}" alt="{{ featuredImage }}"></img>
                    <h2>{{ item.title }}</h2>
                </div>

            {%- endfor -%}

        {%- endif -%}

    </div>      

</section>

{# TEAM CSS ================ #}
{% set css %}
{% include "styles/team.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style> 






