<section id="winetaste" > 

<h3>Wine Tasting</h3>

<div class="grid-container-cards">

{%- if winetasting.winetaste -%}

    {%- for wine in winetasting.winetaste -%}


<section class="card-background module"  id="myBtn">

    <div class="grid-element-cards" >

        <a href="{{ wine.url }}">

            <img src="{{ wine.featuredImage }}" alt="{{ featuredImage }}"></img>
            
            <h2>{{ wine.title }}</h2>  

            <p class="description-cards">Porto Locals<p>

            <p class="time-cards"><span class="iconify" data-icon="fa-regular:clock" data-inline="false"></span> {{ wine.time }}<p>

            <button class="btn-card"><span style="color: #fefefe;">Book Now</span></button>

            <p class="price-cards">Price from <br>{{ wine.price }}<p>

        </a>

    </div>

</section>


    {%- endfor -%}

{%- endif -%}

</section>