<section id="winesafaris">

<h3>Wine Safaris</h3>

<div class="grid-container-cards">

{%- if winesafaris.safari -%}

    {%- for safaris in winesafaris.safari -%}

        <section class="card-background">

        <div class="grid-element-cards">
        
            <a href="{{ safaris.url }}">

            <img src="{{ safaris.featuredImage }}" alt="{{ featuredImage }}"></img>
            
            <h2>{{ safaris.title }}</h2>  

            <p class="description-cards">Porto Locals<p>

            <p class="time-cards"><span class="iconify" data-icon="fa-regular:clock" data-inline="false"></span> {{ safaris.time }}<p>

            <button class="btn-card"><spancity style="color: #fefefe;">Book Now</spancity></button>

            <p class="price-cards">Price from <br>{{ safaris.price }}<p>

            </a>
        </div>      

        </section>

    {%- endfor -%}

{%- endif -%}

</section>

