---
layout: layouts/base.njk
title: Oops! Not Found
permalink: 404.html
---

<main class="align-center">

<h1>{{ title }}</h1>
<p>There's nothing here. Maybe at the
    <a href="{{ " /" | url }}">home page?</a>
</p>

</main>

<style>
.align-center {
    text-align: center;
    padding-top: 10%;
}
</style>

{# INDEX CSS ================ #}
{% set css %}
{% include "styles/index.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style> 

