---
layout: layouts/base.njk
excerpt: Porto Locals
author: Porto Locals
title: Porto Locals
image: /images/uploads/teste-portolocals.jpg
ogtype: website
---

<section class="extraLayer">

    <section class="airbnb">    

    <a href="/#winetaste" class="close"></a>

        <div class="airbnb-embed-frame" data-id="360401" data-view="experience_booking" data-image="true" data-title_and_info="true" data-currency="USD"><a href="https://www.airbnb.com/experiences/360401?source=booking_widget">Ver no Airbnb</a><a href="https://www.airbnb.com/experiences/360401?source=booking_widget" rel="nofollow"></a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>

    </section>

</section>

{# AIRBNB ================ #}
{% set css %}
{% include "styles/airbnb.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style>

{# INDEX CSS ================ #}
{% set css %}
{% include "styles/index.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style> 