---
layout: layouts/base.njk
permalink: /
excerpt: Porto Locals
author: Porto Locals
title: Porto Locals
image: /images/uploads/teste-portolocals.jpg
ogtype: website
---

<div class="grid-container">

{% include "partials/banner.njk" %} <!-- BANNER == --> 

<section class="experiences"> <!-- EXPERIENCES == -->

<h1 id="experiences">Our experiences</h1>

{% include "partials/winetasting.njk" %} <!-- WINE TASTING == -->

{% include "partials/hikingtrekking.njk" %} <!-- HIKING == -->

{% include "partials/winesafaris.njk" %} <!-- WINE SAFARIS == --> 

{% include "partials/citytours.njk" %} <!-- City Tours == -->    

<span id="about"></span><br/><br/><br/> <!-- SCROLL TO ABOUT == --> 

</section>

{% include "partials/about.njk" %} <!-- ABOUT == -->  

{% include "partials/team.njk" %} <!-- TEAM == -->  

{% include "partials/social.njk" %} <!-- SOCIAL == --> 

{% include "partials/contact.njk" %} <!-- CONTACT FORM  == -->

<div>

{# INDEX CSS ================ #}
{% set css %}
{% include "styles/index.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style> 

{# CARDS CSS ================ #}
{% set css %}
{% include "styles/cards.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style>