<!DOCTYPE html>
<html lang="en"> 

        {% include "partials/head.njk" %}

    <body>
       
        {% include "partials/navbar.njk" %}   
                
        {{ content | safe }}     

        {% include "partials/netlifycms.njk" %}

        {% include "partials/backtotop.njk" %}  
        
        {% include "partials/footer.njk" %}    

        {% include "partials/footernav.njk" %}  

    </body>

</html>