.box {
  grid-area: box;
  display: grid;
  line-height: 1.6;
  text-align: left;
  align-items: center;
  background: var(--background-reading);
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "adriano about";
  overflow: hidden;
}

.about {
  grid-area: about;
}

.about p {
  margin-right: 5rem;
}

.adriano {
  grid-area: adriano;
  padding: 2rem;
}

.box p {
  line-height: 44px;
}

.box h2 {
  text-align: center;
  margin-right: 5rem;
}

.signature {
  text-align: right;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.adriano img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

@media (max-width: 1024px) {
  .about {
    margin: -1rem 0.5rem 1rem 0.5rem;
  }

  .box h2 {
    text-align: center;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .adriano img {
    width: 80%;
  }

  .signature {
    margin-bottom: 1rem;
  }
}
