.airbnb {      
    margin: auto;
    width: 50%;
    background: var(--background);   
    padding-top: 6rem;   
    overflow: hidden;   
}

.extraLayer {
    position: absolute;
    background: var(--background);  
    min-height: 100vh;
    min-width: 100vw;
    margin-top: -3.40rem;
    z-index: 9999;    
}

.close {
    position: fixed;
    float: right;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    z-index: 9999;    
  }

  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: fixed;
    float: right;
    left: 95%;
    content: ' ';
    height: 33px;
    width: 10px;
    background-color: var(--blue);   
  }
  
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  @media (max-width: 1440px) {
    .airbnb {      
      margin: auto;
      width: 100%;
      padding-left: 18%;
      padding-bottom: 2rem;
      background: var(--background);   
      padding-top: 6rem;         
  }
  } 

  @media (max-width: 1366px) {
    .airbnb {      
      margin: auto;
      width: 100%;
      padding-left: 18%;
      padding-bottom: 2rem;
      background: var(--background);   
      padding-top: 6rem;      
  }
  } 

  @media (max-width: 1080px) {
    .airbnb {      
      margin: auto;
      width: 100%;
      padding-left: 1rem;
      background: var(--background);   
      padding-top: 6rem;      
  }
  }  

  @media (max-width: 414px) {
    .airbnb {      
      margin: auto;
      width: 100%;     
      background: var(--background);   
      padding-top: 6rem;      
  }
      
  .close:before, .close:after { 
    left: 90%;
  }
  }

  @media (max-width: 360px) {
    .airbnb {      
      margin: auto;
      width: 100%;
      padding-left: 0;
      background: var(--background);   
      padding-top: 6rem;      
  }
  }

  @media (max-width: 320px) {
    .airbnb {      
      margin: auto;
      width: 100%;
      padding-left: 0;
      background: var(--background);   
      padding-top: 6rem;      
  }
  }



