.banner {
  grid-area: banner;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  color: var(--light);
  margin-top: -0.5rem;
  min-height: calc(85vh - 2.5rem);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-bottom: 1rem;
}

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  animation-name: text-focus-in;
  animation-duration: 1.1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/* BANNER - VIDEO =================== */

.banner {
  position: relative;
  overflow: hidden;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

@media (max-width: 767px) {
  .banner__video {
    display: none;
  }

  .banner {
    background: url("/images/poster.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    color: var(--light);
    min-height: calc(85vh - 6.6rem);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
  }
}

@media (max-width: 750px) {
  .banner h1 {
    font-size: 2.2em;
    text-align: center;
    margin-top: -2rem;
  }
}
