.grid-container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 10% 0 10%;
  grid-gap: 0.5rem;
  margin-bottom: 2.5rem;
  border-radius: 5px;
}

.grid-element-cards img {
  max-height: 250px;
}

.card-background {
  box-shadow: var(--shadow);
  background-color: var(--background-reading);
  border-radius: 5px;
  cursor: pointer;
  z-index: 0;
}

.card-background:hover {
  box-shadow: var(--boxShadowCards);
  transition: 0.5s;
}

.grid-container-cards img {
  border-radius: 5px 5px 0 0;
  max-height: 300px;
}

.grid-element-cards {
  margin-bottom: -1rem;
}

.grid-element-cards h2 {
  text-align: left;
  margin: 1rem 0 0 0;
  padding: 0 1.1rem 1rem 1rem;
  font-size: 1.2em;
  color: var(--text-color);
  line-height: 1.6;
}

h3 {
  margin-left: 10%;
  font-size: 1.7em;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.card-background {
  position: relative;
}

.price-cards {
  position: absolute;
  text-align: right;
  font-size: 0.9em;
  bottom: 1rem;
  right: 1rem;
}

.description-cards {
  margin-top: 0;
  padding-left: 1rem;
  color: var(--text-color);
}

.iconify {
  margin-bottom: -0.11rem;
}

.time-cards {
  font-size: 0.9em;
  padding: 0.5rem 0 2rem 1rem;
  color: var(--text-color);
  margin-bottom: 5rem;
}

.btn-card {
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  padding: 0.6rem 1rem;
  border-radius: 5px;
  bottom: 1rem;
  left: 1rem;
}

@media (max-width: 1440px) {
  .grid-container-cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  h3 {
    margin-left: 5%;
    font-size: 1.7em;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .grid-container-cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .grid-container-cards .grid-element-cards {
    height: 550px;
  }

  h3 {
    font-size: 1.5em;
  }

  .grid-container-cards::-webkit-scrollbar {
    width: 0;
  }

  .time-cards {
    margin-bottom: 2rem;
  }
}
