.container {
  grid-area: container;
  display: grid;
  text-align: center;
  background: var(--light);
  box-shadow: var(--shadow);
  margin: 4rem 6rem 6rem 6rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.field {
  padding: 0.5rem;
}

#submit {
  margin-left: 1rem;
  background-color: var(--blue);
  margin-top: 0.5rem;
}

#submit:hover {
  background-color: var(--hover);
}

.container h2 {
  font-size: 2.5em;
  text-align: center;
  color: var(--darkgray);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.text-contact {
  color: var(--darkgray);
  margin-bottom: 1.5rem;
}
