.fixedNav-mobile {
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 99;
  background-color: var(--navbar-background);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  left: 0;
  bottom: 0;
  display: none;
}

.navContainer-mobile {
  background-color: var(--navbar-background);
  font-weight: bold;
}

.navbar-mobile {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.navMenu-mobile ul li {
  margin: 0.3rem 0 0;
  display: block;
}

.navMenu-mobile ul a {
  display: block;
}

.navMenu-mobile {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  text-align: center;
  width: 100%;
  justify-self: end;
}

#show-button {
  cursor: pointer;
}
#hide-button {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .fixedNav-mobile {
    display: inline-block;
    z-index: 3;
  }

  .fixedNav-mobile ul li {
    margin-top: 0.6rem;
  }

  .fixedNav-mobile ul li a {
    padding-top: 0.5rem;
  }

  .dropbtn {
    margin: -0.6rem -2rem -0.1rem -1.5rem;
    border-radius: 0;
    padding: 0.6rem 2rem;
  }

  .dropdown-mobile {
    position: relative;
    display: inline-block;
  }

  .dropdown-content-mobile {
    background-color: var(--navbar-background);
    display: none;
    position: absolute;
    margin-top: -22.7rem;
    padding-top: 1.5rem;
    margin-left: -13rem;
    border-radius: 5px;
    min-width: 380px;
    min-height: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-size: 1.5em;
    line-height: 2;
  }

  .dropdown-content-mobile a {
    color: var(--text-color);
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
  }

  .dropdown-mobile:hover .dropdown-content-mobile {
    display: block;
  }

  .dropdown-mobile:hover .dropbtn {
    background-color: var(--bluedark);
  }
}

@media (max-width: 414px) {
  .fixedNav-mobile ul li {
    margin-top: 0.5rem;
    font-size: 0.8em;
  }

  .dropbtn {
    margin: -0.5rem -2.2rem -0.1rem -1.5rem;
    border-radius: 0;
    padding: 0.5rem 2rem;
    font-size: 1.1em;
  }

  .dropbtn a {
    margin-bottom: 0.3rem;
  }

  .dropdown-content-mobile {
    margin-top: -19.7rem;
    margin-left: -6rem;
    padding-bottom: 0.7rem;
    min-width: 200px;
    min-height: 120px;
  }
}
