:root {
  --blue: #0074d9;
  --silver: #dddddd;
  --white: #fafafa;
  --textWhite: #e4e6eb;

  --black: #111111;
  --textBlack: #1d1d1f;

  --gray: #aaaaaa;
  --boxShadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

  --blue: #0074d9;
  --navy: #001f3f;
  --aqua: #7fdbff;
  --teal: #39cccc;

  --olive: #3d9970;
  --green: #2ecc40;
  --lime: #01ff70;

  --yellow: #ffdc00;
  --orange: #ff851b;

  --red: #ff4136;
  --fushia: #f012be;
  --purple: #b10dc9;

  /* VARIABLES FOR PORTO LOCALS */

  --light: #fefefe;
  --white: #e4e4e4;
  --darker-white: #cccccc;
  --dark: #141414;
  --darkgray: #1f1f1f;
  --gray: #3d3d3d;

  --blue: #0067ff;
  --bluedark: #0251c7;
  --yellow: #fac528;
  --orange: #e67e22;
  --tangerine: #bc3227;
  --greendark: #079954;
  --greenlight: #1b7700;

  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
  --hover: rgba(89.4, 87.8, 83.1, 0.7);

  /* DARK MODE */
  --color-mode: "light";
  --color-dark: #141414;
  --color-dark-alpha: rgba(0, 0, 0, 0.1);
  --color-light: #fafafa;
  --color-light-alpha: rgba(255, 255, 255, 0.9);
  --icon-sun: url(/images/sun.svg);
  /* --icon-sun-filter: invert(0.61) sepia(0.8) saturate(5) hue-rotate(0deg)
    brightness(0.92); */
  --icon-moon: url(/images/moon.svg);
  /* --icon-moon-filter: invert(0.75); */
  --button-icon: var(--icon-moon);
  --button-icon-filter: var(--icon-moon-filter);

  --background: #18191a;
  --text-color: #e4e6eb;
  --navbar-background: #242526;
  --boxShadowCards: 0 2px 5px rgba(0, 103, 255, 0.5);
  --boxShadowApps: 0 1px 3px 0 rgba(0, 103, 255, 1);
  --background-reading: #1b1c1d;
  --background-buttons-next-previous: #222;
  --hover-buttons-next-previous: 0 2px 3px rgba(0, 103, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: "dark";
  }

  /* this is actually the LIGHT MODE - repeat the code on the box below */

  :root:not([data-user-color-scheme]) {
    --background: #dddddd;
    --text-color: #1d1d1f;
    --navbar-background: #fafafa;
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
    --boxShadowCards: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    --boxShadowApps: 0 1px 3px 0 rgba(0, 0, 0, 1);
    --background-reading: #fafafa;
    --background-buttons-next-previous: #dddddd;
    --hover-buttons-next-previous: 0 2px 3px rgb(48, 47, 47, 1);
  }
}

[data-user-color-scheme="dark"] {
  --background: #dddddd;
  --text-color: #1d1d1f;
  --navbar-background: #fafafa;
  --button-icon: var(--icon-sun);
  --button-icon-filter: var(--icon-sun-filter);
  --boxShadowCards: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  --boxShadowApps: 0 1px 3px 0 rgba(0, 0, 0, 1);
  --background-reading: #fafafa;
  --background-buttons-next-previous: #dddddd;
  --hover-buttons-next-previous: 0 2px 3px rgba(48, 47, 47, 1);
}

.toggle-button {
  display: inline-flex;
  border: none;
  font: inherit;
  font-size: 1.5rem;
  background-color: transparent;
}

button:focus {
  outline: 0;
}

.toggle-button__icon {
  background: var(--button-icon);
  border: none;
  width: 1.2em;
  height: 1.2em;
  margin: -0.1rem 0 0 0.5em;
  filter: var(--button-icon-filter);
  transform: translateY(1px); /* Optical adjustment */
  transition: filter 300ms ease-in-out;
  cursor: pointer;
}

/* DARK-LIGHT MODE ENDS */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap);

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh;
  color: var(--text-color);
  transition-duration: 0.5s ease;
  z-index: 0;
  background-color: var(--background);
  letter-spacing: 0.02em;
}

body p {
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.global-content {
  padding-top: 3.5rem;
}

ol,
ul,
li {
  list-style: none;
}

::-moz-selection {
  /* Code for Firefox */
  background: #a8d1ff;
}

::selection {
  background: #a8d1ff;
}

/* NAVBAR == */

.fixedNav {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: var(--navbar-background);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.navContainer {
  width: 100%;
  background-color: var(--navbar-background);
  font-weight: bold;
}

.navbar {
  display: grid;
  grid-template-columns: 0.1fr auto 0.5fr;
  align-items: center;
  height: 3rem;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
  text-transform: uppercase;
}

ul li {
  padding: 0;
  margin: 0.3rem 0 0 0;
}

ul a {
  padding: 5px;
  display: block;
}

a {
  text-decoration: none;
  color: var(--blue);
}

#navbarLogo {
  justify-self: start;
  margin-left: 1.5rem;
  cursor: pointer;
  margin: 0rem;
  height: 45px;
  align-items: center;
  justify-content: center;
  content: url(/images/portolocals.svg);
}

#navbarLogo:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.navMenu {
  display: grid;
  /* IF YOU HAVE MORE THAN 6 ITEMS CHANGE THIS VALUE TO 7 OR MORE */
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

#navLinks li a {
  color: var(--text-color);
  text-decoration: none;
}

#navLinks li a:hover {
  color: var(--blue);
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 1440px) {
  .navbar {
    grid-template-columns: 0.1fr auto 0.6fr;
  }

  #navbarLogo {
    height: 45px;
  }
}

@media screen and (max-width: 1280px) {
  .navbar {
    grid-template-columns: 0.2fr auto 0.6fr;
  }

  #navbarLogo {
    height: 35px;
  }
}

@media screen and (max-width: 1080px) {
  .navbar {
    grid-template-columns: 0.3fr auto 0.8fr;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    grid-template-columns: 0.5fr auto 0.8fr;
  }

  .navContainer {
    position: relative;
  }

  .hide-mobile {
    display: none;
  }

  .darkmode {
    position: relative;
    margin-top: -0.1rem;
    margin-right: -4.5rem;
    float: right;
  }

  .navMenu {
    grid-template-columns: repeat(1, auto);
  }

  #navbarLogo {
    margin-left: 0.5rem;
    width: 100%;
  }
  .navbar {
    width: 100%;
  }
}
