.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "banner banner banner banner"
    "experiences experiences experiences experiences"
    "box box box box"
    "team team team team"
    "social social social social"
    "container container container container";
}

/* this will position the Hash Tag Links */
h2::before,
h3::before {
  display: block;
  content: " ";
  margin-top: -170px;
  height: 170px;
  visibility: hidden;
  pointer-events: none;
}

/* DROPDOWN =================== */

.dropbtn {
  background-color: var(--blue);
  padding: 0.4rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: -0.4rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: var(--navbar-background);
  display: none;
  position: absolute;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  margin-left: -1.5rem;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 0.8rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--bluedark);
}

#navlinksregister a {
  color: var(--light);
}

/* REGISTER BUTTON =================== */

.menu .register {
  background-color: var(--blue);
  margin-right: 3rem;
  margin-left: 2rem;
  margin-top: 0.45rem;
}

.menu .register:hover {
  opacity: 0.8;
}

.register {
  display: none;
}

/* EXPERIENCES =================== */

.experiences {
  grid-area: experiences;
}

.experiences h1 {
  text-align: center;
  color: var(--text);
  margin-bottom: 1.5rem;
}

.experiences h2 {
  margin-left: 10.5%;
  color: var(--text);
  margin-bottom: -1.5rem;
}

@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    padding-bottom: 2.5rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "banner"
      "experiences"
      "box"
      "team"
      "social"
      "container"
      "footer";
  }

  .social .fa {
    padding-bottom: 3rem;
  }

  .register {
    display: block;
  }

  #button {
    display: none;
  }

  .about p {
    margin: 0.5rem;
  }

  .container {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
  }

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "adriano"
      "about";
  }

  .menu .register {
    display: block;
    width: 100%;
    background-color: var(--blue);
    color: var(--light);
    margin-right: 0;
    margin-left: 0;
    margin-top: 0.45rem;
    border-radius: 0px;
    padding: 0 7rem;
  }

  .banner h1 {
    font-size: 2em;
    text-align: center;
    margin-top: -2rem;
  }

  .btn {
    background-color: var(--blue);
    color: var(--light);
    padding: 0.8rem 2rem;
    text-decoration: none;
    border: 0;
    border-radius: 6px;
  }
}

@media (max-width: 800px) {
  .dropdown {
    display: none;
  }
}
