.social {
  grid-area: social;
  text-align: center;
  background-color: var(--background-reading);
}

.social h2 {
  font-size: 2.5em;
  text-align: center;
  color: var(--text);
  margin: 1rem 0 1.5rem 0;
}

.fa {
  padding: 0 2rem 3rem 2rem;
  text-align: center;
  text-decoration: none;
  margin: 1rem 0;
}

.fa:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .social h2 {
    font-size: 2em;
    margin: 1rem 0.5rem 1.5rem 0.5rem;
  }
}
