.team {
  grid-area: team;
  margin: 2.5rem 0;
}

.team h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.team-1 {
  display: grid;
  align-items: center;
  justify-items: center;
}

.team-1 img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}

.team-1 h2 {
  text-align: center;
  margin-top: 1.5rem;
}

.team-fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-element-team {
  padding: 20px;
}
